# Prerequisites
*.d
*.sln
*.vcxproj
*.filters
*.user
*.vs
build
intermediate
Main.c
Main.cpp
Note.txt


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Temporary files
mieayam_graphics.c
mieayam_graphics.h
mieayam_graphics_helper.cpp
mieayam_graphics_helper.h